<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}}</title>
<link type="text/css" rel="stylesheet" href="static/style.css" />
{% block script %}

{% endblock %}
</head>
<body>

<div id="top">
{% block top %}
<b><a href="/">Welcome</a>, <a href={{ home }}>{{ user }}</a> <a href={{ log_in_out_url }}> {{ link_text }} </a></b>
{% endblock %}
</div>

<div id="main">
{% block main %}
{% endblock %}
</div>

<div id="bottom">
{% block bottom %}
{% endblock %}
</div>

</body>
</html>
